<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ark.studentmonitoring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_apps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentMonitoring">
        <activity
            android:name=".View.User.Chatting.PersonalChat"
            android:exported="false"/>
        <activity
            android:name=".View.User.Chatting.ListChat"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.SeeStudentMyClass"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.AddStudentMyClass"
            android:exported="false" />
        <activity
            android:name=".View.User.Administrator.ManageYearSchool"
            android:exported="false" />
        <activity
            android:name=".View.User.Parent.SearchViewStudent"
            android:exported="false" />
        <activity
            android:name=".View.User.About"
            android:exported="false" />
        <activity
            android:name=".View.User.Parent.StudentList"
            android:exported="false" />
        <activity
            android:name=".View.User.Parent.ClassList"
            android:exported="false" />
        <activity
            android:name=".View.User.Parent.ChildValue"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.ValueStudent"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.StudentChoice"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.ManageMyClass"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.DashboardTeacher"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.AddStudent"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.ManageStudent"
            android:exported="false" />
        <activity
            android:name=".View.User.Teacher.ManageValueStudent"
            android:exported="false" />
        <activity
            android:name=".View.User.Administrator.ManageStudentClass"
            android:exported="false" />
        <activity
            android:name=".View.User.Administrator.ManageAccount"
            android:exported="false" />
        <activity
            android:name=".View.User.Administrator.DashboardAdmin"
            android:exported="false" />
        <activity
            android:name=".View.User.Profile"
            android:exported="false" />
        <activity
            android:name=".View.User.HomeApp"
            android:exported="false" />
        <activity
            android:name=".View.Auth.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".View.Auth.SignUp"
            android:exported="false" />
        <activity
            android:name=".View.Auth.SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>